* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    font-weight: 300;
    line-height: 1.6;
    background: linear-gradient(45deg, #bfd2de, transparent);
    overflow: hidden;
}

#content {
    width: 300px;
    height: max-content;
    margin: auto;
    margin-top: 50%;
    transform: translateY(-50%);
}

.title {
    font-size: 26px;
}

.platforms {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #bfd2de;
    display: flex;
    gap: 10px;
}

.platforms a img{
    width: 26px;
    height: 26px;
}

#beian {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

#beian a {
    color: #AAA;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    #beian a {
        opacity: 0;
        display: block;
        white-space: nowrap;
    }
}


.circle {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 5px 4px #bfd2decc;
    animation: circle 0 ease-in-out 3s;
    animation-iteration-count: infinite;
}

@keyframes circle {
    from {
        box-shadow: 0 0 5px 4px #bfd2decc;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 1px 1px #bfd2de85;
        transform: scale(1.2);
    }
    to {
        box-shadow: 0 0 5px 4px #bfd2decc;
        transform: scale(1);
    }
}