* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    font-weight: 300;
    line-height: 1.6;
    background: linear-gradient(45deg, #bfd2de, transparent);
    overflow: hidden;
}

#content {
    width: 300px;
    height: max-content;
    margin: auto;
    margin-top: 40vh;
    transform: translateY(-50%);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    letter-spacing: 1px;
}

.title {
    font-size: 26px;
}

.work-title {
    background-image: linear-gradient(to right, #ec4899, #8b5cf6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.platforms {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #bfd2de;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.platforms a img{
    width: 26px;
    height: 26px;
}

#beian {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

#beian a {
    color: #AAA;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    #content {
        margin-top: 50%;
    }

    #beian a {
        opacity: 0;
        display: block;
        white-space: nowrap;
    }
}

.bird {
    position: fixed;
    top: 0;
    right: 0;
}