@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    font-weight: 300;
    line-height: 1.6;
    background: linear-gradient(45deg, #bfd2de, transparent);
    overflow: hidden;
}

#content {
    width: 300px;
    height: max-content;
    margin: auto;
    margin-top: 40vh;
    transform: translateY(-50%);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    letter-spacing: 1px;
}

.title {
    font-size: 26px;
}

.work-title {
    background-image: linear-gradient(to right, #ec4899, #8b5cf6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: title-bg 3s infinite;
    background-size: 400% 400%;
}

.platforms {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #bfd2de;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.platforms a img{
    width: 26px;
    height: 26px;
}

#beian {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

#beian a {
    color: #AAA;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    body {
        background: linear-gradient(45deg, #bfd2de, #b9e1ba);
        text-shadow: 0 0 1px currentColor;
    }

    #content {
        margin-top: 10vw;
        transform: none;
        filter: none;
        font-family: Raleway;
    }

    #beian a {
        opacity: 0;
        display: block;
        white-space: nowrap;
    }

    .title {
        font-size: 50px;
    }

    .work-title {
        font-size: 40px;
        background-image: linear-gradient(to right, #eca5c894, #af9bdd87);
    }

    #about-group {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 36px;
    }

    .platforms a {
        text-decoration: none;
        color: #333;
    }

    .platforms {
        display: flex;
        flex-direction: column;
        border-color: rgba(0,0,0,0.03);
        margin-top: 6vh;
    }

    #show-group {
        font-size: 30px;
    }

    #prod-group {
        font-size: 12px;
    }
}

@keyframes title-bg {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}